<html>

  <head>

<script>
  /* Get the scopes from https://developers.google.com/analytics/devguides/config/mgmt/v3/authorization */
  var GoogleAuth;
  var SCOPE = 'https://www.googleapis.com/auth/analytics https://www.googleapis.com/auth/analytics.readonly';
  

  function handleClientLoad() {
    // Load the API's client and auth2 modules.
    // Call the initClient function after the modules load.
    gapi.load('client:auth2', initClient);
  }

  function initClient() {
    // Retrieve the discovery document for version 3 of Google Drive API.
    // In practice, your app can retrieve one or more discovery documents.
    var discoveryUrl = 'https://www.googleapis.com/discovery/v1/apis/drive/v3/rest';

    // Initialize the gapi.client object, which app uses to make API requests.
    // Get API key and client ID from API Console.
    // 'scope' field specifies space-delimited list of access scopes.
    gapi.client.init({
        'apiKey': 'AIzaSyA9mDUR5Gq-vSCh6KfA3whuQhpVcD0p4qc',
        'discoveryDocs': [discoveryUrl],
        'clientId': '1025886726422-tp0kcgujaaam78uj2819ffqaq86i6pkp.apps.googleusercontent.com',
        'scope': SCOPE
    }).then(function () {
      GoogleAuth = gapi.auth2.getAuthInstance();

      // Listen for sign-in state changes.
      GoogleAuth.isSignedIn.listen(updateSigninStatus);

      // Handle initial sign-in state. (Determine if user is already signed in.)
      var user = GoogleAuth.currentUser.get();
      setSigninStatus();

      // Event handlers
      // Call handleAuthClick function when user clicks on
      //      "Sign In/Authorize" button.
      $('#sign-in-or-out-button').click(function() {
        handleAuthClick();
      }); 
      $('#revoke-access-button').click(function() {
        revokeAccess();
      }); 
      $('#list-accounts-button').click(function() {
        listAccounts();
      });  

    });
  }

  function handleAuthClick() {
    if (GoogleAuth.isSignedIn.get()) {
      // User is authorized and has clicked 'Sign out' button.
      GoogleAuth.signOut();
    } else {
      // User is not signed in. Start Google auth flow.
      GoogleAuth.signIn();
    }
  }

  function revokeAccess() {
    GoogleAuth.disconnect();
  }

  function setSigninStatus(isSignedIn) {
    var user = GoogleAuth.currentUser.get();
    var isAuthorized = user.hasGrantedScopes(SCOPE);
    if (isAuthorized) {
      
      $('#sign-in-or-out-button').html('Sign out');
      $('#revoke-access-button').css('display', 'inline-block');
      $('#list-accounts-button').css('display', 'inline-block');
      $('#auth-status').html('You are currently signed in and have granted ' +
          'access to this app.');
      $('#ga-report').html("Report from Google");
      listAccounts();
    } else {
      $('#sign-in-or-out-button').html('Sign In/Authorize');
      $('#revoke-access-button').css('display', 'none');
      $('#list-accounts-button').css('display', 'none');
      $('#auth-status').html('You have not authorized this app or you are ' +
          'signed out.');
    }
  }

  function updateSigninStatus(isSignedIn) {
    setSigninStatus();
  }


  function listAccounts() {
    if (GoogleAuth.isSignedIn.get()) {
        console.log(gapi.client);
        //var request = gapi.client.analytics.management.accounts.list();
        //request.execute(printAccounts);
        return gapi.client.request({
          'path': 'https://people.googleapis.com/v1/people/me',
        });
    }
  }

/*
 * Example 2:
 * The results of the list method are passed as the results object.
 * The following code shows how to iterate through them.
 */
function printAccounts(results) {
  if (results && !results.error) {
    var accounts = results.items;
    for (var i = 0, account; account = accounts[i]; i++) {
      console.log('Account Id: ' + account.id);
      console.log('Account Kind: ' + account.kind);
      console.log('Account Name: ' + account.name);
      console.log('Account Created: ' + account.created);
      console.log('Account Updated: ' + account.updated);
    }
  }
}



</script>

</head>

  <body>

    <h1>Google Analytics Demo</h1>

    <button id="sign-in-or-out-button"
            style="margin-left: 25px">Sign In/Authorize</button>
    <button id="revoke-access-button"
            style="display: none; margin-left: 25px">Revoke access</button>

    <button id="list-accounts-button"
            style="display:none; margin-left: 25px">Show Accounts</button>

    <div id="auth-status" style="display: inline; padding-left: 25px"></div><hr>

    <div id="ga-report">Google Analytics goes here</div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script async defer src="https://apis.google.com/js/api.js" 
          onload="this.onload=function(){};handleClientLoad()" 
          onreadystatechange="if (this.readyState === 'complete') this.onload()">
    </script>

  </body>

</html>
